.movie-info {
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #d7d7d7;
  width: 850px;
  height: 450px;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
